name: Comment on PR

on:
  issue_comment:
    types: [created]
    issue_type: [pull_request]

jobs:
  functest:

    if: contains(github.event.comment.body, 'run tests')
    outputs:
      workflow_url: ${{ steps.workflow_run_info.outputs.url }}
      workflow_id: ${{ steps.workflow_run_info.outputs.id }}

    runs-on: ubuntu-24.04
    steps:
      - name: Get workflow run info
        run: |
          echo "url=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" >> $GITHUB_OUTPUT
          echo "id=$GITHUB_RUN_ID" >> $GITHUB_OUTPUT
          echo "url=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
          echo "id=$GITHUB_RUN_ID"
          echo "Running test"
