name: Kruize release tests

on:
  workflow_dispatch:
    inputs:
      kruize_image: 
        description: 'Kruize docker image'
        default: 'quay.io/kruize/autotune_operator:0.8.1'
    
      kruize_operator_image: 
        description: 'Kruize operator docker image'
        default: 'quay.io/kruize/kruize-operator:0.0.4'
env:
  GO_VERSION: '1.24.7'
        
jobs:
  kruize_demos_test_minikube:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4    
      
    
      - uses: actions/checkout@v4
        with:
          repository: chandrams/autotune
          path: autotune
          ref: resources_config

      - name: Download minikube
        run: | 
          curl -LO https://storage.googleapis.com/minikube/releases/v1.35.0/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
          minikube version
    
      - name: Run Kruize demos test with operator on minikube
        run: |
          ps -ef | grep python
          echo Running Kruize demos test with operator on minikube
          cd autotune/tests/scripts/kruize_demos_test
          export MIN_CPU=2
          export MIN_MEM=3000
          
          ./kruize_demos_test.sh -c minikube -i ${{ github.event.inputs.kruize_image }} -o ${{ github.event.inputs.kruize_operator_image }} -r ${GITHUB_WORKSPACE} -t vpa
              
      - name: Archive results
        if: always()
        run: |
          cd ${GITHUB_WORKSPACE}
          ls
          tar cvf kruize_demos_test_minikube_results.tar kruize-demos-test-results-*
          ls
          
      - name: Upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
           name: kruize_demos_test_minikube_results
           path: ./kruize_demos_test_minikube_results.tar
           retention-days: 2

  kruize_demos_test_kind:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4    
      
    
      - uses: actions/checkout@v4
        with:
          repository: kruize/autotune
          path: autotune
          ref: mvp_demo

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Install Kind
        run: |
          go install sigs.k8s.io/kind@v0.31.0
  
      - name: Verify Kind cluster
        run: |
          kubectl cluster-info
          kubectl get nodes
          kubectl version

    
      - name: Run Kruize demos test with operator on kind
        run: |
          ps -ef | grep python
          echo Running Kruize demos test with operator on kind
          cd autotune/tests/scripts/kruize_demos_test        
          ./kruize_demos_test.sh -c kind -i ${{ github.event.inputs.kruize_image }} -o ${{ github.event.inputs.kruize_operator_image }} -r ${GITHUB_WORKSPACE}
              
      - name: Archive results
        if: always()
        run: |
          cd ${GITHUB_WORKSPACE}
          ls
          tar cvf kruize_demos_test_kind_results.tar kruize-demos-test-results-*
          ls
          
      - name: Upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
           name: kruize_demos_test_kind_results
           path: ./kruize_demos_test_kind_results.tar
           retention-days: 2
