name: Kruize release tests

on:
  workflow_dispatch:
    inputs:
      kruize_image: 
        description: 'Kruize docker image'
        required: true
      kruize_operator_image: 
        description: 'Kruize operator docker image'
        required: true
        
jobs:
  releasetest:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      
      
    
      - uses: actions/checkout@v4
        with:
          repository: kruize/autotune
          path: autotune
          ref: mvp_demo

      - name: Download minikube
        run: | 
          curl -LO https://storage.googleapis.com/minikube/releases/v1.35.0/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
          minikube version
    
      - name: Run Kruize demos test with operator on minikube
        run: |
          ps -ef | grep python
          echo Running Kruize demos test with operator on minikube
          cd autotune/tests/scripts/kruize_demos_test        
          ./kruize_demos_test.sh -c minikube -i ${{ github.event.inputs.kruize_image }} -o ${{ github.event.inputs.kruize_operator_image }} -r ${GITHUB_WORKSPACE}
              
      - name: Archive results
        if: always()
        run: |
          cd ${GITHUB_WORKSPACE}
          ls
          tar cvf kruize-demos-test-results.tar kruize-demos-test-results-*
          ls
          
      - name: Upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
           name: kruize_demos_test_results
           path: ./kruize_demos_test_results.tar
           retention-days: 2
